* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#container {
    width: 100%;
    height: 100vh;
    background-color: hsl(235, 18%, 26%);
    color: hsl(234, 29%, 20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attribution {
    margin-bottom: 10px;
    color: white;
}

.card{
    border-radius: 25px;
    background-color: hsl(0, 0%, 100%);
    width: 60%;
    height: 75vh;
    display: flex;
    padding: 20px 20px 20px 40px;
    margin: auto;
    gap: 40px;
}

.success {
    width: 30%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 15px;
}

.success-icon {
    height: 45px;
}

.success h1 {
    font-weight: bolder;
    font-size: 35px;
}

.success p {
    font-size: 15px;
    margin-bottom: 15px;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    font-size: 16px;
}

.left-content h1{
    font-weight: 700;
    color: hsl(234, 29%, 20%);
}

.right-image {
    width: 50%;
    padding: 0;
}

.right-image img{
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.updates-list {
    list-style: none;
}

.content {
    display: flex;
    /* align-items: center; */
    gap: 15px;
    margin-bottom: 10px;
}

.icon {
    height: 17px;
    width: 17px;
}

.email-textbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.email-textbox label {
    font-size: 11px;
    font-weight: 800;
}

.email-textbox input{
    height: 40px;
    border-radius: 5px;
    padding-left: 20px;
    outline: none;
    cursor: pointer;
    /* border: none; */
    border: 1px solid hsl(0, 0%,58%);
}

#email:focus {
    border: 1px solid hsl(234, 29%, 20%);
}
  
#email.active {
    border: 1px solid hsl(4, 100%, 67%);
    background-color: hsla(4, 100%, 67%, 0.15);
    color: hsl(4, 100%, 67%);
}

.error-text {
    color: hsl(4, 100%, 67%);
    font-size: 11px;
    display: none;
}

.error-text.active {
    display: block;
}
  
.email-error-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn {
    height: 40px;
    color: white;
    background-color: hsl(234, 29%, 20%);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background 0.3s, color 0.3s;
}

.btn:hover{
    background-image: linear-gradient(to right, #F75077, #FF6A5D, #FF693C);
}


@media screen and (max-width: 768px) {
    #container {
        width: 100%;
        height: auto;
        background-color: white;
    }
    
    .card{
        flex-direction: column-reverse;
        border-radius: 0px;
        background-color: hsl(0, 0%, 100%);
        width: 100%;
        height: auto;
        padding: 0;
        gap: 0;
    }
    
    .success {
        width: 100%;
        height: 100vh;
        padding: 30px;
        margin-top: 80px;
        gap: 25px;
        display: flex;
        flex-direction: column;
    }

    .success img {
        height: 65px;
    }
    
    .success h1 {
        font-weight: bolder;
        font-size: 45px;
    }
    
    .success p {
        font-size: 18px;
        margin-bottom: 35%;
        line-height: 1.5;
    }
    
    .left-content {
        gap: 20px;
        font-size: 20px;
        padding: 30px;
    }

    .content {
        margin-bottom: 20px;
    }

    .icon {
        height: 20px;
        width: 20px;
    }
    
    .left-content h1{
        font-size: 48px;
    }
    
    .right-image {
        width: 100%;
        height: 32vh;
        padding: 0;
    }
    
    .right-image img{
        display: block;
        width: 100%;
        object-fit: cover;
        border-radius: 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    
    .email-textbox label {
        font-size: 14px;
    }
    
    .email-textbox input{
        height: 55px;
        font-size: 18px;
    }
    
    .btn {
        height: 55px;
        font-size: 18px;
    }

    .error-text {
        font-size: 14px;
    }
}